<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783688332679-u6l6h6r3hmrkkbhtav5dnldfdeoa82i3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783688332679-u6l6h6r3hmrkkbhtav5dnldfdeoa82i3</string>
	<key>API_KEY</key>
	<string>AIzaSyA9Ab9BM3vtOg3wmNEmmVccGbjXnct0vuY</string>
	<key>GCM_SENDER_ID</key>
	<string>783688332679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FN.Memories</string>
	<key>PROJECT_ID</key>
	<string>memories-844da</string>
	<key>STORAGE_BUCKET</key>
	<string>memories-844da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783688332679:ios:9440b99f060cafb0de4f22</string>
</dict>
</plist>